{# templates/sidebar/sidebar.html.twig #}

<section class="section">
    <header>
        <h3>{{ 'sidebar.choose.language'|trans({}, 'sidebar') }}</h3>
    </header>
    <p class="">
    <!--|| Locale Switch ||-->
    <br/>
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3 col-xs-offset-3 col-sm-offset-3 col-md-offset-3">
        <a href="/en" class="thumbnail">
            <img src="{{ asset('images/flags/us.png') }}" alt="english">
          </a>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <a href="/de" class="thumbnail">
            <img src="{{ asset('images/flags/de.png') }}" alt="german">
          </a>
      </div>
    </div>
    </p>
</section>

<section class="section">
    <header>
        <h3>{{ 'sidebar.tag.cloud'|trans({}, 'sidebar') }}</h3>
    </header>
    <p class="tags">

    </p>
</section>

<section class="section">
    <header>
        <h3>{{ 'sidebar.latest.comments'|trans({}, 'sidebar') }}</h3>
    </header>

        <p>There are no recent comments</p>
</section>

{# Below we have the project version showing. Tray to keep at the bottom #}
<section class="section">
    <header>
        <h3>{{ 'sidebar.software.version'|trans({}, 'sidebar') }}:</h3>
    </header>
    <p>
        {{ 'sidebar.silverwolf.cms'|trans({}, 'sidebar') }}  - <font size="-1">v{{ shivas_app_version }}</font>
    </p>
</section>
